* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 109, 109);
}

.container .slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 1s;
}

.container .slide.active {
    display: block;
}

.side-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-content {
    margin-right: 10rem;
}

.slide-content-heading {
    font-size: 2.5rem;
    color: #fff;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.slide-content-details {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    color: rgb(27, 27, 27);
}

.slide-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.slide-button:hover {
    letter-spacing: 3px;
}

.slide-image-div {
    width: 500px;
    height: 300px;
}

.slide-image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}